<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrh.mapper.UserHeadImgMapper" >
  <resultMap id="BaseResultMap" type="com.lrh.model.UserHeadImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, img_url, is_default, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_head_img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_head_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lrh.model.UserHeadImg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_head_img (user_id, img_url, is_default, 
      add_time, update_time)
    values (#{userId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, 
      #{addTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lrh.model.UserHeadImg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_head_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lrh.model.UserHeadImg" >
    update user_head_img
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lrh.model.UserHeadImg" >
    update user_head_img
    set user_id = #{userId,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      add_time = #{addTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询用户使用过的所有头像,不包括当前使用的默认头像 -->
  <select id="findAllByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_head_img
    where user_id = #{userId,jdbcType=INTEGER} 
    and is_default != 1
    order by update_time desc
  </select>
  
  <!-- 将默认头像移除,以便设置新的默认头像 -->
  <update id="removeDefaultImg" parameterType="java.lang.Integer" >
    update user_head_img
    set is_default = 0
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
  <!-- 设置默认头像 -->
  <update id="setDefaultImg" parameterType="com.lrh.model.UserHeadImg" >
    update user_head_img
    set is_default = 1,
    update_time = #{updateTime,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
    and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>